* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

button {
    background-color: #EFA331;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}

button:hover {
    background-color: #F2BD6C;
    cursor: pointer;
}

q {
    font-style: italic;
}

.whatsapp-logo {
    position: fixed;
    width: 50px;
    bottom: 20px;
    left: 20px;
}

.principal {
    background-image: url("assets/banner-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    display: grid;
    grid-template-areas: 
        "header"
        "headline";
    grid-template-rows: 60px auto;
}

.logo-site {
    width: 75px;
}

.principal-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secoes {
    display: flex;
    list-style-type: none;
}

.secoes a {
    color: #EFA331;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 30px;
}

.secoes a:hover {
    color: #F2BD6C;
}

.banner {
    grid-area: headline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    padding: 150px 0px;
    text-align: right;
}

h1 {
    color: #EFA331;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner p {
    font-size: 30px;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.call-to-action button {
    margin-left: 30px;
}

.background-degrade {
    background-image: linear-gradient(45deg, #1B1717, #1D1D1D, #453535);
    z-index: 0;
}

.secundaria {
    height: 110vh;
    padding: 80px 100px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        "header"
        "conteudo";
    grid-template-rows: 150px auto;
}

.secundaria-header {
    grid-area: header;
}

.secundaria-header h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.secundaria-header p {
    font-size: 25px;
}

.secundaria-conteudo {
    grid-area: conteudo;
}

.card {
    background-color: #EFA331;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.card * {
    color: black;
}

.card h2 {
    font-size: 1.8rem;
}

.card img {
    display: block;
    margin: 40px auto 40px auto;
    height: 70px;
}

.card p {
    font-size: 25px;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 40px;
}

#beneficios .secundaria-conteudo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

#por-que {
    position: relative;
}

#por-que * {
    z-index: 2;
}

.texto-de-fundo {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px;
    margin-top: 200px;
}

#por-que .texto-de-fundo p {
    font-family: 'Montaga', serif;
    font-size: 250px;
    color: rgba(255, 255, 255, 0.10);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#por-que .secundaria-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#por-que .motivo {
    margin-top: 10px;
}

#por-que .indice {
    font-size: 50px;
    font-weight: 600;
    border-style: solid;
    border-width: 5px;
    border-radius: 14px;
    border-color: #EFA331;
    height: 70px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

#por-que .motivo .titulo {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}

#por-que .motivo ul {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
}

#por-que .motivo li {
    margin-top: 30px;
}

#por-que .motivo li::before {
    content: "•";
    color: #EFA331;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

#relatos .secundaria-conteudo {
    display: grid;
    grid-template-areas: 
        "quadro"
        "bolinhas";
}

.slide {
    display: none;
    border-color: #EFA331;
    border-width: 4px;
    border-style: solid;
    position: relative;
    grid-area: quadro;
    width: 625px;
    height: 310px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.slide legend {
    text-align: left;
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.slide img {
    position: absolute;
    width: 85px;
    left: -20px;
    top: -55px;
}

.slide p {
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 27px;
    font-weight: 300;
}

#relatos .seta {
    font-size: 50px;
    align-self: center;
    cursor: pointer;
    position: absolute;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#relatos .seta:hover {
    color: #EFA331;
}

#relatos .seta-esquerda {
    left: 250px;
}

#relatos .seta-direita {
    right: 250px;
}

#relatos .bolinhas {
    grid-area: bolinhas;
    display: flex;
    justify-content: center;
}

.bolinhas .bolinha {
    transform: scale(1.25);
    margin: auto 25px;
    margin-bottom: 40px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}

.bolinha path {
    fill: white;
}

.bolinha:hover path {
    fill: #F2BD6C;
}

.active path {
    fill: #EFA331;
}

#duvidas {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    height: 50vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#duvidas h2 {
    color: #EFA331;
    font-size: 50px;
    font-weight: 800;
}

footer {
    height: 75vh;
    background-image: url("assets/footer-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16vh;
    padding-bottom: 16vh;
}

footer .redes {
    display: flex;
    justify-content: space-between;
}

footer a {
    background-color: #EFA331;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

footer a:hover {
    background-color: #F2BD6C;
}

footer img {
    width: 75px;
}

footer .autor {
    background-color: #EFA331;
    color: black;
    font-size: 35px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 30px;
}