* {
    margin: 0px;
    padding: 0px;
    size: 100% 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(45deg, #453535, #1D1D1D, #1B1717);
}

button {
    background-color: #EFA331;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}

section.principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("assets/banner-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
}

section.principal div.conteudo {
    margin: 20px 80px 20px;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "header"
        "headline";
    grid-template-rows: 60px auto;
}

section.principal header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.principal header img {
    width: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: #EFA331;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 30px;
}

section.principal div.headline {
    grid-area: headline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    padding: 150px 0px;
    text-align: right;
}

h1 {
    color: #EFA331;
    font-size: 45px;
    font-weight: 800;
}

section.principal div.headline p {
    font-size: 30px;
}

section.principal div.headline div.com-botao {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

section.principal div.headline div.com-botao button {
    margin-left: 30px;
}

section.secundaria {
    height: 110vh;
    padding: 80px 100px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        "header"
        "conteudo";
    grid-template-rows: 150px auto;
}

section.secundaria header {
    grid-area: header;
}

section.secundaria .conteudo {
    grid-area: conteudo;
}

section.secundaria h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section.secundaria header p {
    font-size: 25px;
}

section#beneficios .conteudo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    background-color: #EFA331;
    border-radius: 8px;
    width: 300px;
}

div.card div.conteudo {
    display: grid;
    grid-template-areas: 
        "titulo"
        "icone"
        "descricao";
}

.card .conteudo h2 {
    grid-area: titulo;
}

.card .conteudo img {
    grid-area: icone;
}

.card .conteudo p {
    grid-area: descricao;
}

.card h2, .card p {
    color: black;
}